<div>
  <div class="users-search-container">
    <h2 class="col-6">Users</h2>
    <!-- <div class="search-container"> -->
    <!-- <div class="row"> -->
    <form class="search-container" [formGroup]="searchForm">
      <app-text-box
        class=""
        formControlName="searchName"
        [iconClass]="'pi pi-search'"
        [placeholder]="'Search by name..'"
      />
      <app-select-box
        class=""
        formControlName="selectedDistrict"
        [dataSource]="districts2"
        valueExpression="id"
        displayExpression="name"
        [placeholder]="'Select district..'"
      ></app-select-box>
      <button class="btn" (click)="searchUser()">Search</button>
    </form>
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>
