<div class="row">
  <app-analytics-card
    class="col-md-4"
    [title]="'Total Earning'"
    [analyticValue]="'₹ 7,245.00'"
    [trendLine]="'from last week'"
  ></app-analytics-card>

  <app-analytics-card
    class="col-md-4"
    [title]="'New Request'"
    [analyticValue]="'12'"
    [trendLine]="'from last week'"
  ></app-analytics-card>

  <app-analytics-card
    class="col-md-4"
    [title]="'Settle Request'"
    [analyticValue]="'8'"
    [trendLine]="'from last week'"
  ></app-analytics-card>
</div>
