<div class="d-flex">
  <app-side-bar></app-side-bar>

  <div class="content" style="width: 80%; margin-left: 250px; flex-grow: 1">
    <!-- Pages -->
    <!--router-outlet /-->
    <div class="row">
      <app-analytics-card
        class="col-md-4"
        [title]="'Total Earning'"
        [analyticValue]="'₹ 7,245.00'"
        [trendLine]="'from last week'"
      ></app-analytics-card>

      <app-analytics-card
        class="col-md-4"
        [title]="'New Request'"
        [analyticValue]="'12'"
        [trendLine]="'from last week'"
      ></app-analytics-card>

      <app-analytics-card
        class="col-md-4"
        [title]="'Settle Request'"
        [analyticValue]="'8'"
        [trendLine]="'from last week'"
      ></app-analytics-card>

      <div class="container mt-5">
        <button class="btn btn-success" (click)="onClick()">Open modal</button>
      </div>
      <app-common-modal
        [isHeaderRequired]="true"
        [isFooterRequired]="true"
        [content]="sample"
        [heading]="'sample'"
      ></app-common-modal>
    </div>
  </div>
</div>

<!-- Dont remove -->
<app-icons-library></app-icons-library>
<!-- <router-outlet /> -->

<ng-template #sample>
  This is sample content
  <div class="bg-success">
    blablabla
    <button class="btn btn-danger">try</button>
  </div>
</ng-template>
