<div class="bus-type-list-container">
  <div class="type-search-container">
    <h2 class="col-6">Bus Type</h2>
    <!-- <div class="col-6 search-container">
      <div class="row" > -->
    <form class="search-container" [formGroup]="searchForm">
      <app-text-box
        class=""
        formControlName="searchName"
        [iconClass]="'pi pi-search'"
        [placeholder]="'Search by name..'"
        (onValueChanged)="onValueChange($event)"
      />
      <button class="btn" (click)="createBusType()">ADD</button>
    </form>
    <!-- </div>
    </div> -->
  </div>
  <div class="bustype-list">
    <app-data-grid
      [rowData]="gridData"
      [colDefs]="colDefs"
      [pagination]="true"
      [paginationPageSizeSelector]="[5, 10, 100]"
    ></app-data-grid>
  </div>
</div>

<app-common-modal
  
></app-common-modal>
<!-- <app-common-modal
  [isHeaderRequired]="true"
  [isFooterRequired]="true"
  [content]="editBusTypeTemplate"
></app-common-modal> -->

<ng-template #addBusTypeTemplate>
  <app-add-edit-bustype #test></app-add-edit-bustype>
</ng-template>

<ng-template #editBusTypeTemplate>
  <app-add-edit-bustype
    [formData]="selectedBusType"
    [isEdit]="true"
  ></app-add-edit-bustype>
</ng-template>
