<!-- login.component.html -->
<div class="login-page-container">
  <div class="login-page-content">
    <div class="left-panel">
      <div class="brand-illustration"></div>
    </div>
    <div class="form-container">
      <div class="company-logo">
        <div class="logo-icon">BP</div>
        <div class="company-name">BusPay Admin</div>
      </div>

      <h1>Welcome Back</h1>
      <p class="login-subtitle">Please login to access your dashboard</p>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="login-fields">
          <div class="">
            <app-text-box
              [placeholder]="'Email'"
              formControlName="email"
            ></app-text-box>
          </div>
          <div>
            <app-text-box
              [placeholder]="'Password'"
              formControlName="password"
            ></app-text-box>
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="login-button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
