<div class="container" style="background-color: aquamarine">
  <div class="row" style="background-color: red">
    <div class="col-md-6">
      <span>icon</span>
      <span>Text</span>
    </div>
  </div>

  <div class="row" style="background-color: blue">
    <div class="col-md-6">
      <div class="row">
        <div style="background-color: yellow">rate</div>
      </div>

      <div class="row" style="background-color: green">
        <div class="col-md-2">icon</div>
        <div class="col-md-10">text</div>
      </div>
    </div>
    <div class="col-md-6" style="background-color: pink">image</div>
  </div>
</div>
